.github-token {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  }
  
.token-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.token-button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.token-button:hover {
  background-color: #218838;
}
  
  
/* Adjust for smaller screens */
@media only screen and (max-width: 768px) {
  .token-input {
    width: 100%;  /* Full width input for smaller screens */
    margin-bottom: 10px;  /* Add space between input and button */
  }

  .token-button {
    width: 100%;  /* Full width button for smaller screens */
  }
}
  